<section>
    <h1>{{product.title}}</h1>
    <div class="card" style="width: 18rem;">
        <img class="thumbnail" src="http://localhost:8080/public/img/{{product.thumbnail}}"
            alt="localhost:8080/public/img/{{product.thumbnail}}" height="100px">
        <div class="card-body">
            <p class="card-text">Id: {{product._id}}</p>
            <p class="card-text productDetailCategories">Categories: {{categories}}</p>
            <p class="card-text">Price: {{product.price}}</p>
            <p class="card-text">Stock: {{product.stock}}</p>
            <p class="card-text">Description: {{product.description}}</p>

            <button id={{product._id}} class="btn_add btn btn-primary">Agregar o quitar del carrito</button>
            <a href="/" class="btn btn-primary">Volver a inicio</a>
        </div>
    </div>
</section>
<script>
    document.querySelector(".btn_add").addEventListener("click", function () {
        const cid = prompt('Ingrese el id del cart')
        const pid = this.id;
        if (!cid) { return alert('No ha ingresado ningun carrito') }
        window.location.pathname = `/cart/${cid}/add/${pid}`

    })
</script>